version: "3.8"
services:
  calibre-web:
    image: linuxserver/calibre-web:latest
    container_name: calibre
    ports:
      - "8083:8083"
    volumes:
      - "{{ books_path }}:/books"
      - "{{ config_path }}/calibre:/config"
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000